<h2>Enter Zipcode Please</h2>

<br>
<br>
<br>
<br>

<form action="<%= forecasts_url %>" method="post">
  <label for="zipcode">zip!</label>
  <input type="text" name="forecast[zipcode]" value=" ##### " id="zipcode">
  <input type="submit" value="Make it weather">
</form>
