/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

// Variables
$font-header:'Century Gothic';
$font-body:'Cochin';
// $primary-color: #2ba6cb;
$color-white:#EEE;
$color-dark:#111;

// Styles
body, html {
	// font-family: $font-body;
	color:$color-white;
}
h1,h2,h3,h4,h5{
	font-family: $font-header;
	color:$primary-color;
}
input{
	color: $color-dark;
}
p{}
h1{font-size:4em;}
h2{font-size:3.25em;}
// h3{}
h4{}
h5{}

ul{list-style:none;}

.index{
	background-image: url('http://placebear.com/1200/400');
	background-size: cover;
	padding: 20px;
	position:relative;
	&::after{
		position:absolute;
		display:block;
		background: rgba(0,0,0,0.5);
		z-index:2;
		top:0;
		bottom:0;
		left:0;
		right:0;
	}
}
.row {
	z-index:20;
	position:relative;
}

.header{}
.footer{}
